body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

#header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url('img/background.jpg');
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .8);
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
}

#header a {
  color: white;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header .row h1 {
  margin: 100px 100px 100px 0px;
  font-family: 800;
  font-size: 2.8rem;
}

#search-container {
  margin-bottom: -18px;
}

#search-container button {
  height: 38px;
  border-radius: 0px 6px 6px 0px;
  border: 1px solid #D1D5DB;
  border-left: none;
  width: 120px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  color: #374151;
}

#search-container input {
  border: 1px solid #ddd;
  width: 400px;
  height: 38px;
  border-radius: 7px;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px 0px 0px 6px;
  padding-left: 50px;
  background-position: 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
}

#search-container input:focus-visible {
  outline: none;
}

.icon {
  padding-left: 25px;
  background: url("img/search.png") no-repeat left, #fff;
  background-size: 20px;
}


#search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  height: 70vh;
}

#placeholder img {
  width: 70px;
}

#placeholder h3 {
  color: #DFDDDD;
  font-size: 18px;
}

/*  
MOVIE RESULTS
*/

#search-results hr {
  width: 80%;
  border: 1px solid #eee;
}

.movie-result {
  display: flex;
  flex-direction: row;
  margin: 20px;
  max-width: 650px;
  align-items: center;
}

#poster-container {
  margin-right: 20px;
}

#poster-container img {
  width: 150px;
}

#movie-info-container {
  display: flex;
  flex-direction: column;
}

#movie-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#movie-title-container h2 {
  margin-right: 8px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
}

#movie-title-container p {
  color: #111827;
}

#movie-title-container img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

#movie-specs-container {
  display: flex;
  flex-direction: row;
}

#movie-specs-container button {
  display: flex;
  align-self: center;
  cursor: pointer;
  transition: .2s;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
}

#movie-specs-container button:hover {
  background: #eee;
}

#movie-specs-container button img {
  height: 18px;
  margin-right: 5px;
  margin-top: -1px;
}

#movie-specs-container p,
#movie-specs-container button {
  margin-right: 20px;
  height: 32px;
  background: none;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.movie-plot {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #6B7280;
}

/* Hide movies with no plot */
.hidden {
  height: 0px;
  visibility: hidden;
  margin: 0px;
}